*{
    box-sizing: border-box;
}

html, body, div, span, p {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; 
}

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100vw;
    height: 100vh;
    background: url('./src/img/porto.jpg') no-repeat;
    background-position: 50% 60%;
    background-size: cover;
}




.title-wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    height : 8em;
    padding: 0px 1px 20px 1px;
    animation: wave 0.5s linear  alternate;
}

.title:not(.only1):hover{
    animation: wave 0.5s infinite linear alternate;
}

.only1:hover{
    animation: flowerTurn 5s infinite linear;
}

.good1{animation-delay: 0.2s;}
.good2{animation-delay: 0.4s;}
.good3{animation-delay: 0.6s;}
.good4{animation-delay: 0.8s; margin-right : 50px;}
.vibes1{animation-delay: 1.0s;}
.vibes2{animation-delay: 1.2s;}
.vibes3{animation-delay: 1.4s;}
.vibes4{animation-delay: 1.6s;}
.vibes5{animation-delay: 1.8s; margin-right : 50px;}
.only1{animation-delay: 2.0s;}
.only2{animation-delay: 2.2s;}
.only3{animation-delay: 2.4s;}
.only4{animation-delay: 2.6s;}

@keyframes wave {
    0%{
        margin-bottom: 0%;
    }
    50%{
        margin-bottom: 10%;
    }
    100%{
        margin-bottom: 0%;
    }

}


@keyframes flowerTurn {
    to{
        transform: rotate(360deg);
        transform-origin:  55% 35%;
    }

}


